.container
	h3 {{'NEW_QUESTIONS' | translate}}
	h3(ng-show="questions.length === 0") {{'NO_QUESTION_YET' | translate}}
	table.table.table-hover(ng-show="questions.length > 0")
		thead
			tr
				th {{'QUESTION' | translate}}
				th {{'UPVOTES' | translate}}
				th {{'PUBLICATION_DATE' | translate}}
		tbody
			tr(dir-paginate="question in questions | orderBy: '-published' | itemsPerPage: 10")
				td
					a(href="/questions/{{question._id}}") {{question.text | extractTranslation}} : {{question.answers[0].text | extractTranslation}} or {{question.answers[1].text | extractTranslation}} ?
				td {{question.upvotes}}
				td {{question.published | date }}
	dir-pagination-controls