.col-md-5.answer(ng-click="sendAnswer()")
	.answer-text {{answer.text}}
		.result
			i.glyphicon.glyphicon-ok(aria-hidden="true", ng-show="clicked") 
			span.percentage(odometer="result")
			span  %
			.votes {{answer.votes}} votes