div(ng-class="primary ? 'tagsinput-primary' : ''")
	input.form-control(name="tags", class="tagsinput", ng-model="tags")
	script(type="text/javascript", src="/app/directives/tags-input/bootstrap-tagsinput.js")