body {
  padding-top: 61px;
  overflow-x: hidden;
}
footer {
  padding-left: 0 15px;
  background: none;
  margin-top: 40px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.navbar-form .sign-up {
  margin-top: -8px;
}
.navbar-collapse .navbar-nav.navbar-right:last-child>.dropdown:last-child>a {
  border-radius: 0;
}
.toast-top-right {
  top: 70px;
}
.filters {
  margin: 10px 0;
}
.filters .form-group {
  float: none;
}
.filters .form-control {
  width: 100%;
}
.filters .select {
  cursor: pointer;
}
.actions a,
.actions button {
  margin-right: 20px;
}
.actions .pull-right a,
.actions .pull-right button {
  margin-right: 0;
  margin-left: 20px;
}
.select2-drop .select2-result-single li:first-child .select2-result-label {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.select2-drop .select2-result-single li:last-child .select2-result-label {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: rgba(255,255,255,0.9);
  padding: 1.8em 2em;
  width: 440px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ngdialog.ngdialog-theme-default .ngdialog-content .modal-title {
  margin-top: 0;
}
.question .question-text {
  text-align: center;
  margin-bottom: 40px;
}
.question .answers .answer,
.question .answers .separation {
  text-align: center;
  color: #fff;
  font-size: 2em;
  padding: 0;
}
.question .answers .answer {
  cursor: pointer;
}
.question .answers .answer span.answer-text,
.question .answers .answer .circle {
  display: block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  position: relative;
  overflow: hidden;
  padding: 20px;
  padding: 150px 20px;
  border-bottom: 12px solid rgba(0,0,0,0.15);
}
.question .answers .answer .circle {
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.075);
  border-radius: 50%;
  transform: scale(0);
  -ms-transform: scale(0);
  -wekbit-transform: scale(0);
  border-bottom: none;
}
.question .answers .answer .circle.animate {
  -webkit-animation: effect 0.85s linear;
  animation: effect 0.85s linear;
}
.question .answers .answer .result {
  height: 0;
  overflow: hidden;
}
.question .answers .answer .result .percentage,
.question .answers .answer .result .votes {
  margin-left: 20px;
}
.question .answers .separation {
  font-size: 90px;
  padding: 88px 20px;
  color: inherit;
}
.question .answers answer-button:first-child .answer {
  background: #e74c3c;
}
.question .answers answer-button:last-child .answer {
  background: #3498db;
}
.question .answers.answered .answer {
  cursor: auto;
}
.question .answers.answered .result {
  height: 60px;
  transition: height 0.65s ease-in-out;
  transition-delay: 0.3s;
}
.question .actions {
  margin-top: 40px;
  margin-bottom: 40px;
}
.question .question-details .question-detail-field {
  margin-bottom: 10px;
}
.question .question-details .detail-label {
  margin-right: 20px;
  font-size: 15px;
  display: inline-block;
  width: 60px;
}
.question .question-details .votes a {
  cursor: pointer;
}
.question .question-details .tags .tag {
  display: inline-block;
  height: 27px;
  padding: 6px 21px;
  margin: 0 5px 5px 0;
  overflow: hidden;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  background-color: #1abc9c;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: 700;
}
.question .question-details .tags a {
  color: #fff;
}
.view-transition .view {
  transition: 800ms;
  position: relative;
}
.view-transition .view.ng-enter {
  opacity: 0;
}
.view-transition .view.ng-enter-active {
  opacity: 1;
}
.view-transition .view.ng-leave {
  display: none;
}
.no-transition,
.no-transition * {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: color 0 ease-in !important;
  transition: none !important;
}
@-moz-keyframes effect {
  100% {
    opacity: 0;
    transform: scale(3);
    -ms-transform: scale(3);
    -wekbit-transform: scale(3);
  }
}
@-webkit-keyframes effect {
  100% {
    opacity: 0;
    transform: scale(3);
    -ms-transform: scale(3);
    -wekbit-transform: scale(3);
  }
}
@-o-keyframes effect {
  100% {
    opacity: 0;
    transform: scale(3);
    -ms-transform: scale(3);
    -wekbit-transform: scale(3);
  }
}
@keyframes effect {
  100% {
    opacity: 0;
    transform: scale(3);
    -ms-transform: scale(3);
    -wekbit-transform: scale(3);
  }
}
