@font-face {
  font-family: 'CC-ICONS';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/cc-icons.ttf") format('truetype');
}
body {
  padding-top: 61px;
  padding-bottom: 60px;
  overflow-x: hidden;
}
[role="button"] {
  cursor: pointer;
}
input,
button,
.btn,
.select2-choice,
.ui-select-dropdown,
.select2-result-label,
.dropdown-menu,
.well,
a {
  border-radius: 0 !important;
}
.well {
  box-shadow: none;
}
footer {
  background: #34495e;
  color: #fff;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
}
footer p {
  padding: 10px;
}
footer a {
  color: #fff;
}
footer span.cc {
  font-family: 'CC-ICONS';
  font-size: 24px;
  font-weight: normal;
}
footer span.footer-text {
  vertical-align: top;
  padding: 0 10px;
  font-weight: bold;
}
footer .github {
  font-size: 20px;
  vertical-align: top;
}
.navbar-nav > li > a {
  font-weight: normal;
}
.navbar-form {
  float: right;
  padding-left: 0;
  padding-right: 10px;
  padding-bottom: 0;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form .register {
  margin-top: -8px;
  cursor: pointer;
}
.navbar-form .form-control {
  width: 150px;
  background-color: #fff !important;
  display: inline;
  border-radius: 0;
}
.navbar-form button.btn {
  border-radius: 0 !important;
  box-shadow: none;
}
.navbar-form .select2-choice {
  line-height: 1;
  padding: 9px 39px 6px 15px;
}
.navbar-collapse .navbar-nav.navbar-right:last-child>.dropdown:last-child>a {
  border-radius: 0;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #fff;
}
.language-switcher {
  display: inline-block;
}
.language-switcher .dropdown-menu {
  padding: 0 !important;
  overflow: hidden;
}
.language-switcher .languages img {
  margin-right: 5px;
}
.language-switcher .languages a {
  border-radius: 0 !important;
}
.toast-top-right {
  top: 70px;
}
#toast-container > div {
  border-radius: 0;
  box-shadow: none;
}
#toast-container > :hover {
  box-shadow: none;
}
.filters {
  margin: 10px 0;
}
.filters .form-group {
  float: none;
}
.filters .form-control {
  width: 100%;
}
.filters .select {
  cursor: pointer;
}
.actions a,
.actions button {
  margin-right: 20px;
  padding-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.actions .pull-right a,
.actions .pull-right button {
  margin-right: 0;
  margin-left: 20px;
  border-radius: 0;
}
.bootstrap-tagsinput {
  margin-bottom: 0;
  border-radius: 0;
}
.bootstrap-tagsinput .tag {
  border-radius: 0;
}
.ui-select-dropdown {
  border: none !important;
}
.select2-drop .select2-result-single li:first-child .select2-result-label {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.select2-drop .select2-result-single li:last-child .select2-result-label {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: rgba(255,255,255,0.9);
  padding: 1.8em 2em;
  width: 500px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ngdialog.ngdialog-theme-default .ngdialog-content .modal-title {
  margin-top: 0;
}
.ngdialog.ngdialog-theme-default .ngdialog-content .register {
  margin-top: 20px;
}
.ngdialog.ngdialog-theme-default .ngdialog-content .register label {
  padding-left: 0;
  padding-right: 0;
}
.ngdialog.ngdialog-theme-default.ngdialog-large .ngdialog-content {
  width: 650px;
}
.question .question-text {
  text-align: center;
  margin-bottom: 40px;
}
.question .answers .answer,
.question .answers .separation {
  text-align: center;
  color: #fff;
  font-size: 2em;
  padding: 0;
}
.question .answers .answer {
  cursor: pointer;
  border-bottom: 12px solid rgba(0,0,0,0.15);
  height: 400px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.question .answers .answer .answer-text {
  display: block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  position: relative;
  padding: 20px;
  top: 35%;
}
.question .answers .answer .circle {
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.075);
  border-radius: 50%;
  transform: scale(0);
  -ms-transform: scale(0);
  -wekbit-transform: scale(0);
  border-bottom: none;
  height: 400px;
  width: 400px;
  overflow: hidden;
}
.question .answers .answer .circle.animate {
  -webkit-animation: effect 0.85s linear;
  animation: effect 0.85s linear;
}
.question .answers .answer .result {
  opacity: 0;
  overflow: hidden;
  font-size: 5rem;
}
.question .answers .answer .result .percentage {
  margin-left: 20px;
}
.question .answers .answer .result .votes {
  opacity: 0;
  font-size: 2.2rem;
  font-weight: lighter;
}
.question .answers .separation {
  font-size: 90px;
  line-height: 400px;
  color: inherit;
}
.question .answers answer-button:first-child .answer {
  background: #e74c3c;
}
.question .answers answer-button:last-child .answer {
  background: #3498db;
}
.question .answered.answered.answer {
  cursor: auto;
}
.question .answered.answered .answer-text {
  top: 20%;
  transition: top 1s 1s ease-in-out;
}
.question .answered.answered .result {
  opacity: 1;
  transition: opacity 0.65s ease-in-out;
}
.question .answered.answered .result .odometer {
  vertical-align: baseline !important;
}
.question .answered.answered .result .votes {
  opacity: 1;
  transition-delay: 2s !important;
  transition: opacity 0.65s ease-in-out;
}
.question .answered.answered .result .glyphicon-ok:before {
  display: inline-block;
  width: 55px;
}
.question .actions {
  margin-top: 40px;
  margin-bottom: 40px;
}
.question .question-details {
  border-radius: 0;
  border: 1px solid #1abc9c;
}
.question .question-details .panel-heading {
  border-radius: 0;
  border: none;
  background-color: #1abc9c;
}
.question .question-details .panel-heading h2 {
  font-size: 15px;
  color: #fff;
}
.question .question-details .question-detail-field {
  margin-bottom: 10px;
}
.question .question-details .icon {
  margin-right: 10px;
}
.question .question-details .votes a {
  cursor: pointer;
}
.question .question-details .tags .tag {
  display: inline-block;
  height: 27px;
  padding: 6px 21px;
  margin: 0 5px 5px 0;
  overflow: hidden;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  background-color: #1abc9c;
  vertical-align: middle;
  font-weight: 700;
}
.question .question-details .tags a {
  color: #fff;
}
.question .question-details .share-buttons {
  padding-left: 0;
  display: inline-block;
}
.question .question-details .share-buttons li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.question .comments textarea {
  height: 100px;
  margin-bottom: 20px;
  font-size: 16px;
  border-color: #ddd;
}
.question .comments .comment {
  border-radius: 0;
}
.question .comments .comment .panel-heading {
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 0;
}
.question .comments .comment .panel-heading.red {
  background-color: #e74c3c;
  color: #fff;
}
.question .comments .comment .panel-heading.blue {
  background-color: #3498db;
  color: #fff;
}
.question .comments .comment .panel-heading a {
  margin-left: 5px;
}
.question .comments .comment .panel-heading .comment-upvotes {
  padding: 5px;
}
.question .comments .comment .panel-body {
  position: relative;
}
.question .comments .comment .delete-comment {
  cursor: pointer;
}
.question .comments .comment .date {
  position: absolute;
  right: 5px;
  bottom: 0;
  font-size: 14px;
  color: #777;
}
.stats .description {
  height: 7.5rem;
}
.question-form input[type="text"] + input[type="text"] {
  margin-top: 10px;
}
input[data-language="en"],
input[data-language="fr"] {
  padding-left: 40px;
  background-size: 24px 16px;
  background-position: 8px 11px;
  background-repeat: no-repeat;
}
input[data-language="en"] {
  background-image: url("/images/en_US.png");
}
input[data-language="fr"] {
  background-image: url("/images/fr_FR.png");
}
.pagination {
  width: 100%;
  text-align: center;
}
.pagination ul {
  border-radius: 0;
}
.pagination li {
  margin-right: 0;
}
.pagination .next > a,
.pagination .previous > a,
.pagination li:last-child > a:hover,
.pagination li:first-child > a:hover {
  border-radius: 0 !important;
}
.red-background {
  background-color: #e74c3c;
  color: #fff;
}
.blue-background {
  background-color: #3498db;
  color: #fff;
}
span.red {
  color: #e74c3c;
}
span.blue {
  color: #3498db;
}
.view-transition .view {
  transition: 800ms;
  position: relative;
}
.view-transition .view.ng-enter {
  opacity: 0;
}
.view-transition .view.ng-enter-active {
  opacity: 1;
}
.view-transition .view.ng-leave {
  display: none;
}
.no-transition,
.no-transition * {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: color 0 ease-in !important;
  transition: none !important;
}
.odometer.odometer-animating-up,
.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition-duration: 3s !important;
  -moz-transition-duration: 3s !important;
  -ms-transition-duration: 3s !important;
  -o-transition-duration: 3s !important;
  transition-duration: 3s !important;
}
.translate-cloak {
  display: none;
}
@-moz-keyframes effect {
  100% {
    opacity: 0;
    transform: scale(3);
    -ms-transform: scale(3);
    -wekbit-transform: scale(3);
  }
}
@-webkit-keyframes effect {
  100% {
    opacity: 0;
    transform: scale(3);
    -ms-transform: scale(3);
    -wekbit-transform: scale(3);
  }
}
@-o-keyframes effect {
  100% {
    opacity: 0;
    transform: scale(3);
    -ms-transform: scale(3);
    -wekbit-transform: scale(3);
  }
}
@keyframes effect {
  100% {
    opacity: 0;
    transform: scale(3);
    -ms-transform: scale(3);
    -wekbit-transform: scale(3);
  }
}
