extends includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") {{'SITE_NAME' | translate}}
			.navbar-collapse.collapse.desktop-only
				div(ng-include="'/partials/account/navbar-login'")
	section.content
		.view(ng-view)

	footer.text-center
		p 
			a(href="http://creativecommons.org/licenses/by-nc/4.0/")
				span.cc c b a
				span.footer-text Creative Commons
			a(href="https://github.com/BenjaminBini/dilemme")
				span.github.octicon.octicon-mark-github
				span.footer-text github.com/BenjaminBini