extends includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") Dilemme
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href="/") Home
				div(ng-include="'/partials/account/navbar-login'")
	section.content
		.view(ng-view)

	footer.text-center
		p 
			span.cc c b a
			span.me Benjamin Bini