doctype
html
	head
		title
		base(href="/")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="/vendors/octicons/octicons/octicons.css")
		link(rel="stylesheet", href="/vendors/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendors/flat-ui/dist/css/flat-ui.min.css")
		link(rel="stylesheet", href="/dist/css/dilemme.min.css")
	body(translate-cloak ng-app="app" ng-class="animation")
		include current-user
		
		block main-content
		script(type="text/javascript", src="/dist/js/dilemme.min.js")
