.container.well
	form.form-horizontal(name="forgotForm")
		fieldset
			legend {{'FORGOT_MY_PASSWORD' | translate}}
			.form-group
				label.col-md-2.control-label(for="username") {{'USERNAME_OR_EMAIL' | translate}}
				.col-md-10
					input.form-control(name="username", type="text", placeholder="{{'USERNAME_OR_EMAIL' | translate}}", ng-model="vm.username", required)
			.form-group
				.col-md-10.col-md-offset-2
					.pull-right
						button.btn.btn-primary(ng-click="vm.requestPasswordChange(vm.username)", ng-disabled="forgotForm.$invalid") {{'SUBMIT' | translate}}
						| &nbsp;
						a.btn.btn-default(href="/") {{'CANCEL' | translate}}