.container.well
	form.form-horizontal(name="profileForm")
		fieldset
			legend {{'USER_PROFILE' | translate}}
			.form-group
				label.col-md-2.control-label(for="username") {{'USERNAME' | translate}}
				.col-md-10
					input.form-control(name="username", type="text", placeholder="{{'USERNAME' | translate}}", ng-model="username", required)
			.form-group
				label.col-md-2.control-label(for="email") {{'EMAIL' | translate}}
				.col-md-10
					input.form-control(name="email", type="email", placeholder="{{'EMAIL' | translate}}", ng-model="email", required)
			.form-group
				label.col-md-2.control-label(for="password") {{'PASSWORD' | translate}}
				.col-md-10
					input.form-control(name="password", type="password", placeholder="{{'PASSWORD' | translate}}", ng-model="password")
			.form-group.actions
				.col-md-10.col-md-offset-2
					.pull-right
						button.btn.btn-primary(ng-click="update()", ng-disabled="profileForm.$invalid") {{'SUBMIT' | translate}}
						a.btn.btn-default(href="/") {{'BACK' | translate}}
.container
	.row(ng-show="suggestions.length === 0")
		h4.col-md-12 {{'NO_PENDING_SUGGESTION_YET' | translate}}
	.row(ng-show="suggestions.length > 0")
		.col-md-12
			h4 {{'YOUR_PENDING_SUGGESTION' | translate}}
			table.table.table-hover
				thead
					tr
						th {{'TITLE' | translate}}
						th {{'QUESTION' | translate}}
						th {{'SUGGESTION_DATE' | translate}}
				tbody
					tr(dir-paginate="suggestion in suggestions | itemsPerPage: 10", pagination-id="suggestions")
						td {{suggestion.title}}
						td {{suggestion.text}} : {{suggestion.answers[0].text}} or {{suggestion.answers[1].text}} ?
						td {{suggestion.published | date }}
			dir-pagination-controls(pagination-id="suggestions")
	.row(ng-show="questions.length === 0")
		h4.col-md-12 {{'NO_PUBLISHED_QUESTION_YET' | translate}}
	.row(ng-show="questions.length > 0")
		.col-md-12
			h4 {{'YOUR_QUESTIONS' | translate}}
			table.table.table-hover
				thead
					tr
						th {{'QUESTION' | translate}}
						th {{'UPVOTES' | translate}}
						th {{'ANSWER' | translate}} 1
						th {{'ANSWER' | translate}} 2
						th {{'PUBLICATION_DATE' | translate}}
				tbody
					tr(dir-paginate="question in questions | itemsPerPage: 10", pagination-id="questions")
						td
							a(href="/questions/{{question._id}}") {{question.text}} : {{question.answers[0].text}} or {{question.answers[1].text}} ?
						td {{question.upvotes}}
						td {{question.answers[0].votes}}
						td {{question.answers[1].votes}}
						td {{question.published | date }}
			dir-pagination-controls(pagination-id="questions")
	.row(ng-show="currentUser.answers.length === 0")
		h4.col-md-12 {{'NO_ANSWERS_YET' | translate}}
	.row(ng-show="currentUser.answers.length > 0")
		.col-md-12
			h4 {{'YOUR_ANSWERS' | translate}}
			table.table
				thead
					tr
						th {{'QUESTION' | translate}}
						th {{'YOUR_ANSWER' | translate}}
				tbody
					tr(dir-paginate="answer in currentUser.answers | itemsPerPage: 10", pagination-id="answers")
						td 
							a(ng-if="answer.question.status === 1" href="/questions/{{answer.question._id}}") {{answer.question.text}} : {{answer.question.answers[0].text}} or {{answer.question.answers[1].text}} ?
							span(ng-if="answer.question.status === 0") {{answer.question.text}} : {{answer.question.answers[0].text}} or {{answer.question.answers[1].text}} ?
						td(ng-class="answer.answer == 0 ? 'red-background' : 'blue-background'") {{answer.question.answers[answer.answer].text}} (like {{answer.question | proportion:answer.answer}}% of the users)
			dir-pagination-controls(pagination-id="answers")