.container.well
	form.form-horizontal(name="registerForm").register
		fieldset
			legend {{'REGISTER' | translate}}
			.form-group
				label.col-md-2.control-label(for="username") {{'USERNAME' | translate}}
				.col-md-10
					input.form-control(name="username", type="text", placeholder="{{'USERNAME' | translate}}", ng-model="username", required)
			.form-group
				label.col-md-2.control-label(for="email") {{'EMAIL' | translate}}
				.col-md-10
					input.form-control(name="email", type="email", placeholder="{{'EMAIL' | translate}}", ng-model="email", required)
					p.help-block {{'WILL_REMAIN_PRIVATE' | translate}}
			.form-group(ng-if="!isExternal")
				label.col-md-2.control-label(for="password") {{'PASSWORD' | translate}}
				.col-md-10
					input.form-control(name="password", type="password", placeholder="{{'PASSWORD' | translate}}", ng-model="password", required)
			.form-group
				.col-md-10.col-md-offset-2
					.pull-right
						button.btn.btn-primary(ng-click="registerFromPage()", ng-disabled="registerForm.$invalid") {{'SUBMIT' | translate}}
						| &nbsp;
						a.btn.btn-default(href="/") {{'CANCEL' | translate}}
			.form-group(ng-if="!isExternal")
				label.col-md-2.control-label {{'OR_USE' | translate}}
				.col-md-10
					a.connect-with(href="/auth/facebook", target="_self")
						span.socicon-connect.socicon-facebook
					a.connect-with(href="/auth/twitter", target="_self")
						span.socicon-connect.socicon-twitter
					a.connect-with(href="/auth/google", target="_self")
						span.socicon-connect.socicon-google