.container
	h3 {{'TOP_QUESTIONS' | translate}}
	h3(ng-show="questions.length === 0") {{'NO_QUESTION_YET' | translate}}
	table.table.table-hover(ng-show="questions.length > 0")
		thead
			tr
				th {{'QUESTION' | translate}}
				th {{'ANSWERS' | translate}}
				th {{'PUBLICATION_DATE' | translate}}
		tbody
			tr(dir-paginate="question in questions | orderBy: '- (answers[0].votes + answers[1].votes)' | itemsPerPage: 10")
				td
					a(href="/questions/{{question._id}}") {{question.text}} : {{question.answers[0].text}} or {{question.answers[1].text}} ?
				td {{question.answers[0].votes + question.answers[1].votes}}
				td {{question.published | date}}
	dir-pagination-controls