// Vendors
script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/vendor/toastr/toastr.min.js")
script(type="text/javascript", src="/vendor/angular/angular.min.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/vendor/angular-animate/angular-animate.min.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.min.js")
script(type="text/javascript", src="/vendor/angular-local-storage/dist/angular-local-storage.min.js")
script(type="text/javascript", src="/vendor/angular-ui-select/dist/select.js")
script(type="text/javascript", src="/vendor/ngDialog/js/ngDialog.min.js")

// App
script(type="text/javascript", src="/app/app.js")

// Controllers
script(type="text/javascript", src="/app/controllers/mvMainController.js")
script(type="text/javascript", src="/app/controllers/mvNavBarLoginController.js")
script(type="text/javascript", src="/app/controllers/mvModalLoginController.js")
script(type="text/javascript", src="/app/controllers/mvRegisterController.js")
script(type="text/javascript", src="/app/controllers/mvProfileController.js")
script(type="text/javascript", src="/app/controllers/mvUserListController.js")
script(type="text/javascript", src="/app/controllers/mvUserDetailController.js")
script(type="text/javascript", src="/app/controllers/mvAnswerController.js")
script(type="text/javascript", src="/app/controllers/mvQuestionController.js")
script(type="text/javascript", src="/app/controllers/mvQuestionRandomController.js")
script(type="text/javascript", src="/app/controllers/mvUnansweredQuestionRandomController.js")
script(type="text/javascript", src="/app/controllers/mvQuestionListController.js")
script(type="text/javascript", src="/app/controllers/mvQuestionDetailController.js")
script(type="text/javascript", src="/app/controllers/mvTagViewController.js")

// Services
script(type="text/javascript", src="/app/services/mvAuthService.js")
script(type="text/javascript", src="/app/services/mvNotifier.js")
script(type="text/javascript", src="/app/services/mvDialog.js")
script(type="text/javascript", src="/app/services/mvQuestionService.js")
script(type="text/javascript", src="/app/services/mvUserService.js")

// Resources
script(type="text/javascript", src="/app/resources/mvUser.js")
script(type="text/javascript", src="/app/resources/mvQuestion.js")

// Models
script(type="text/javascript", src="/app/models/mvIdentity.js")

// Directives
script(type="text/javascript", src="/app/directives/tags-input/tagsInput.js")
script(type="text/javascript", src="/app/directives/answer-button/answerButton.js")