h4.modal-title Confirm
p Are you sure you want to delete this {{itemType}} ?
.actions
	button.btn.btn-danger(ng-click="closeThisDialog('confirm')") Yes, delete
	button.btn.btn-default(ng-click="closeThisDialog('cancel')") Nope