h4.modal-title Register
form.register.form-horizontal(name="signinForm")
	.form-group
		label.col-md-3.control-label(for="email") Email
		.col-md-9
			input.form-control(placeholder="Email", ng-model="username" autofocus)
	.form-group
		label.col-md-3.control-label(for="password") Password
		.col-md-9
			input.form-control(type="password", placeholder="Password", ng-model="password")
	.form-group
		.actions.col-md-10.col-md-offset-2
			.pull-right
				button.btn.btn-primary(ng-click="signin(username, password)") Sign in
				button.btn.btn-default(ng-click="closeThisDialog('cancel')") Cancel