.dilemme
	footer
		background white
		color #34495e
		border-top 1px solid #34495e
		margin-top 40px
		position fixed
		bottom 0
		left 0
		width 100%
		height 40px
		p
			padding 10px
		a 
			color #34495e
		span.cc
			font-family 'CC-ICONS'
			font-size 24px
			font-weight normal
		span.footer-text
			vertical-align top
			padding 0 10px
			font-weight bold
		.github
			font-size 20px
			vertical-align top