// Modals
.ngdialog.ngdialog-theme-default .ngdialog-content
	background rgba(255,255,255,.9)
	padding 1.8em 2em
	width 500px
	-webkit-border-radius 0
	border-radius 0
	.modal-title
		margin-top 0
	.register
		margin-top 20px
		label
			padding-left 0
			padding-right 0
.ngdialog.ngdialog-theme-default.ngdialog-large .ngdialog-content
	width 650px
