// Pagination
.pagination
	width 100%
	text-align center
	ul
		border-radius 0
	li
		margin-right 0
	.next > a,
	.previous > a,
	li:last-child > a:hover,
	li:first-child > a:hover
		border-radius 0 !important