.container.well
	form.form-horizontal(name="forgotForm")
		fieldset
			legend {{'FORGOT_MY_PASSWORD' | translate}}
			.form-group
				label.col-md-2.control-label(for="password") {{'NEW_PASSWORD' | translate}}
				.col-md-10
					input.form-control(name="password", id="password", type="text", placeholder="{{'NEW_PASSWORD' | translate}}", ng-model="vm.newPassword", required)
			.form-group
				.col-md-10.col-md-offset-2
					.pull-right
						button.btn.btn-primary(ng-click="vm.resetPassword(vm.newPassword)", ng-disabled="forgotForm.$invalid") {{'SUBMIT' | translate}}
						| &nbsp;
						a.btn.btn-default(href="/") {{'CANCEL' | translate}}