.navbar-right(ng-controller="mvNavBarLoginController")
	form.navbar-form(ng-hide="identity.isAuthenticated()")
		ul.nav.navbar-nav
			li
				a.register(role="button", ng-click="openRegisterModal()") Register
		.form-group
			input.form-control(placeholder="Username or Email", ng-model="email" autofocus)
		.form-group
			input.form-control(type="password", placeholder="Password", ng-model="password")
		button.btn.btn-primary(ng-click="signin(email, password)") Sign in
	ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
		li
			a.suggest(role="button", ng-click="openSuggestModal()") Suggest a question
		li.dropdown
			a.dropdown-toggle(href="", data-toggle="dropdown")
				| {{identity.currentUser.username}}
				b.caret
			ul.dropdown-menu
				li(ng-show="identity.currentUser.isAdmin()")
					a(href="/admin/users") Users Admin
				li(ng-show="identity.currentUser.isAdmin()")
					a(href="/admin/questions") Questions Admin
				li(ng-show="identity.currentUser.isAdmin()")
					a(href="/admin/suggestions") Suggestions Admin
				li
					a(href="/profile") Profile
				li(ng-show="identity.isAuthenticated()")
					a(href="/stats") Stats
				li
					a(role="button", ng-click="signout()") Sign Out