.container.well
	form.form-horizontal(name="profileForm")
		fieldset
			legend User profile
			.form-group
				label.col-md-2.control-label(for="username") Username
				.col-md-10
					input.form-control(name="username", type="text", placeholder="Username", ng-model="username", required)
			.form-group
				label.col-md-2.control-label(for="email") Email
				.col-md-10
					input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required, autofocus)
			.form-group
				label.col-md-2.control-label(for="password") Password
				.col-md-10
					input.form-control(name="password", type="password", placeholder="Password", ng-model="password")
			.form-group.actions
				.col-md-10.col-md-offset-2
					.pull-right
						button.btn.btn-primary(ng-click="update()", ng-disabled="profileForm.$invalid") Submit
						a.btn.btn-default(href="/") Back

			