.container.stats
	h3 Stats
	.col-md-4
		h4 Red or blue ?
		div.description
			span You voted for 
			span.red {{stats.color.red}} red answer
			span.red(ng-if="stats.color.red > 1") s
			span  and for 
			span.blue {{stats.color.blue}} blue answer
			span.blue(ng-if="stats.color.blue > 1") s
			span .
		canvas(id="color", class="chart chart-pie", data="colourValues", labels="colourLabels", colours="colours", legend="true")
	.col-md-4
		h4(ng-if="isHipster") You are so hipster
		h4(ng-if="!isHipster") You are so mainstream
		div.description
			span You agreed with people on {{stats.agree}} question
			span(ng-if="stats.agree > 1") s
			span , you didn't on {{stats.answered - stats.agree}}.
		canvas(id="agree", class="chart chart-pie", data="agreeValues", labels="agreeLabels", colours="colours", legend="true")
	.col-md-4
		h4 How many left ?
		div.description
			span You answered {{stats.answered}} question
			span(ng-if="stats.answered > 1") s
			span  out of a total of  {{totalValues[0] + totalValues[1]}}.
		canvas(id="total", class="chart chart-pie", data="totalValues", labels="totalLabels", colours="colours", legend="true")
