.container
	.question(ng-controller="mvAnswerController")
		h2.question-text {{question.text}}
		.row.answers
			answer-button(answer="question.answers[0]", on-click="answer(0)", result="results[0]", user-answer="userAnswer", answer-number="0")
			.col-md-2.separation ? 
			answer-button(answer="question.answers[1]", on-click="answer(1)", result="results[1]", user-answer="userAnswer", answer-number="1")
		.row.actions
			a.btn.btn-embossed.btn-primary(ng-href="/admin/questions/{{question._id}}" ng-show="identity.currentUser.isAdmin()") Edit this question
			.pull-right 
				a.btn.btn-embossed.btn-primary(ng-click="nextQuestion()") Next question
		.row
			.col-md-6.comments
				.row(ng-show="!identity.isAuthenticated()")
					p.text-muted Please 
						a(role="button", ng-click="openLoginModal()") sign in
						|  or 
						a(role="button", ng-click="openRegisterModal()") register
						|  to comment
				.row(ng-show="identity.isAuthenticated()")
					textarea.col-md-12(ng-model="newComment")
					.actions
						.pull-right
							button.btn.btn-embossed.btn-primary(ng-click="comment(newComment)") Add Comment
				h4 
					ng-pluralize(count="question.comments.length" when="{'0': 'No comment yet', '1': '1 comment', 'other': '{} comments'}")
				.row.comment.panel.panel-default(ng-repeat="comment in question.comments | orderBy: 'date':true")
					.panel-heading(ng-class="comment | authorCssClass:question")
						.panel-title
							span {{comment.author.username}}
							span.text-muted(ng-show="!comment.author.username")
								i Account deleted
							a.pull-right(role="button", ng-show="identity.currentUser.isAdmin()", ng-click="deleteComment(comment._id)", title="Delete this comment")
								span.delete-comment.glyphicon.glyphicon-remove 
							a.pull-right(role="button", ng-click="upvoteComment(comment._id)", title="Upvote this comment")
								span.upvote-comment.glyphicon.glyphicon-arrow-up
								span.comment-upvotes {{comment.upvotes}}
					.panel-body {{comment.text}}
						span.date {{comment.date | date : 'dd/MM/yyyy hh:mm'}}


			.col-md-5.col-md-offset-1
				.panel.panel-default.question-details.row
					.panel-heading
						h2.panel-title
							span(ng-show="!question.title") Details
							span(ng-show="!!question.title") {{question.title}}
					.panel-body
						.question-detail-field.description(ng-show="!!question.description")
							span.description {{question.description}}
						.question-detail-field.votes
							a(ng-click="upvote()", title="Upvote this question")
								span.icon.glyphicon.glyphicon-arrow-up
							span {{question.upvotes}} upvotes
						.question-detail-field.answers
							span.icon.glyphicon.glyphicon-ok
							span {{ question.answers[0].votes + question.answers[1].votes }} answers
						.question-detail-field.tags(ng-show="question.tags.length > 0")
							span.icon.glyphicon.glyphicon-tag
							span.tag(ng-repeat="tag in question.tags") 
								a(ng-href="/questions/tag/{{tag}}")  {{tag}}