.container.well
	form.form-horizontal(name="questionForm")
		fieldset
			legend {{'QUESTION' | translate}}
			.form-group
				label.col-md-2.control-label(for="text") {{'TITLE' | translate}}
				.col-md-10
					input.form-control(name="text", type="text", placeholder="Title", ng-model="question.title", autofocus)
			.form-group
				label.col-md-2.control-label(for="text") {{'DESCRIPTION' | translate}}
				.col-md-10
					input.form-control(name="text", type="text", placeholder="Description", ng-model="question.description", autofocus)
			.form-group
				label.col-md-2.control-label(for="text") {{'TEXT' | translate}}
				.col-md-10
					input.form-control(name="text", type="text", placeholder="Text", ng-model="question.text", required, autofocus)
			.form-group
				label.col-md-2.control-label(for="answer1") {{'FIRST_CHOICE' | translate}}
				.col-md-10
					input.form-control(name="answer1", type="text", placeholder="First choice", ng-model="question.answers[0].text", required)
			.form-group
				label.col-md-2.control-label(for="answer2") {{'SECOND_CHOICE' | translate}}
				.col-md-10
					input.form-control(name="answer2", type="text", placeholder="Second choice", ng-model="question.answers[1].text", required)
			.form-group
				label.col-md-2.control-label(for="tags") {{'TAGS' | translate}}
				.col-md-10
					tags-input(tags="question.tags", is-loaded="isLoaded")
			.form-group(ng-show="!!question.author")
				label.col-md-2.control-label(for="tags") {{'AUTHOR' | translate}}
				.col-md-10
					label.control-label
						a(href="/admin/users/{{question.author._id}}") {{question.author.username}}
			.form-group.actions
				.col-md-10.col-md-offset-2
					a.btn.btn-default(ng-href="/admin/questions") {{'BACK_TO_QUESTIONS_LIST' | translate}}
					a.btn.btn-info(ng-show="!!question._id" ng-href="/questions/{{question._id}}") {{'VIEW_IN_CONTEXT' | translate}}
					.pull-right
						button.btn.btn-primary(ng-click="save()", ng-disabled="questionForm.$invalid") {{'SAVE' | translate}}
						button.btn.btn-primary(ng-click="publish()", ng-show="question.status == 0") {{'PUBLISH' | translate}}
						button.btn.btn-warning(ng-click="unpublish()", ng-show="question.status == 1") {{'UNPUBLISH' | translate}}
						button.btn.btn-danger(ng-click="delete()" ng-show="!!question._id") {{'DELETE' | translate}}

.container
	h4(ng-show="users.length === 0") {{'NO_USER_YET' | translate}}
	h4(ng-show="users.length > 0") {{'USERS_ANSWERS' | translate}}
	table.table.table-hover(ng-show="users.length > 0")
		thead
			tr
				th {{'USERNAME' | translate}}
				th {{'ANSWER' | translate}}
		tbody
			tr(dir-paginate="user in users | filter: searchText | orderBy: sortOrder.selected | itemsPerPage: 10")
				td
					a(href="/admin/users/{{user._id}}") {{user.username}}
				td(ng-class="user.answer == 0 ? 'red-background' : 'blue-background'") {{question.answers[user.answer].text}} ({{'LIKE' | translate | lowercase}} {{question | proportion:user.answer}}% {{'OF_THE_USERS' | translate | lowercase}})
	dir-pagination-controls