.container.well
	form.form-horizontal(name="userForm")
		fieldset
			legend User profile
			.form-group
				label.col-md-2.control-label(for="username") Username
				.col-md-10
					input.form-control(name="username", type="text", placeholder="Username", ng-model="username", required)
			.form-group
				label.col-md-2.control-label(for="email") Email
				.col-md-10
					input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
			.form-group
				label.col-md-2.control-label(for="password") Password
				.col-md-10
					input.form-control(name="password", type="password", placeholder="Password", ng-model="password")
			.form-group.actions
				.col-md-10.col-md-offset-2
					a.btn.btn-default(href="/admin/users") Back to users list
					.pull-right
						button.btn.btn-primary(ng-click="update()", ng-disabled="userForm.$invalid") Submit
						button.btn.btn-danger(ng-click="delete()") Delete
.container
	.row(ng-show="suggestions.length > 0")
		.col-md-12
			h4 {{username}}'s pending suggestions
			table.table.table-hover
				thead
					tr
						th Title
						th Question
						th Suggestion Date
				tbody
					tr(ng-repeat="suggestion in suggestions")
						td
							{{suggestion.title}}
						td
							a(href="/admin/suggestions/{{suggestion._id}}") {{suggestion.text}} : {{suggestion.answers[0].text}} or {{suggestion.answers[1].text}}
						td {{suggestion.published | date }}
	.row(ng-show="questions.length > 0")
		.col-md-12
			h4 {{username}}'s questions
			table.table.table-hover
				thead
					tr
						th Question
						th Upvotes
						th Answer 1
						th Answer 2
						th Publication Date
				tbody
					tr(ng-repeat="question in questions")
						td
							a(href="/questions/{{question._id}}") {{question.text}} : {{question.answers[0].text}} or {{question.answers[1].text}} ?
						td {{question.upvotes}}
						td {{question.answers[0].votes}}
						td {{question.answers[1].votes}}
						td {{question.published | date }}