h4.modal-title {{'CONFIRM' | translate}}
p {{'ARE_YOU_SURE' | translate}} {{'DELETE' | translate | lowercase}} {{'THIS' | translate | lowercase}} {{itemType | translate | lowercase}} ?
.actions
	button.btn.btn-danger(ng-click="closeThisDialog('confirm')") {{'YES' | translate}}
	button.btn.btn-default(ng-click="closeThisDialog('cancel')") {{'NOPE' | translate}}